.encabezado {
    height: 60%;
    width: 99%;
    border: #1d4b4d 1px solid;
    margin: 0.25cm;
    color: red;
    font-size:15 px;
    text-align: center;
    font-family: Georgia, 'Times New Roman',Times,serif;
}

#menu {
    width: 18%;
    height: 500px;
    float: left;
    border:black 1px solid;
    -webkit-border-radius: 20px;
    background-color:greenyellow;
    line-height:  55px;
}
#contenido {
    width: 80%;
    height: 700px;
    border: 1px blueviolet;
    float: left;

    
}
.Pie {
 
    height: 40px;
    border: #1d4b4d 1px solid;
    clear: both;
}
body{
    background-color: palevioletred;
}