.Encabezado {
    height: 60%
    width: 99%;
    border: #1d4b4d 1px solid;
    margin: 0.25cm;
    color: red;
    font-size:15 px;
    text-align: center;
    font-family: Georgia, 'Times New Roman',Times,serif;
}

.Menu {
    width: 18%;
    height: 500px;
    float: left;
    border:black 1px solid;
    -webkit-border-radius: 20px;
    background-color:greenyellow;
    line-height:  55px;
}

.Article {
    width: 50%;
    height: 500px;
    border: 1px blueviolet;
    float: left;

    
}
aside{
    width: 50%;
    float: left;
    margin: 0.25cm 
}



.Ima {
 
    height: 500px;
    float: left;
    border:purple 1px solid;
    width: 31.5%;
    
}
.Pie {
 
    height: 40px;
    border: #1d4b4d 1px solid;
    clear: both;
}
body{
    background-color: pink;
}